*{
    text-decoration: none;
}

.list-group{
    margin-top: 50px;
}


/* for card */
.btn {
    margin-top: 20px;
}

.row {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}


.card-img-top{
    margin-top: 10px;
    width:259px ;
    height: 180px;
}

.container {

    margin: 0 auto;
    margin-top: 70px;
    width: 80%;
    padding-bottom: 20px;
    text-decoration: none;
}

.navBen {
    background: rgb(88,109,215);
    background: radial-gradient(circle, rgba(88,109,215,1) 0%, rgba(207,246,255,0.30033263305322133) 100%);

}


.Home {
    margin-right: 10%;
    margin-left: 10% ;
}

a.Home{
    text-decoration: none;
}

#communityInc{
    font-family: "Academy Engraved LET";
}

@media only screen and (min-width: 992px) {
    #icons {
        display: none;
    }
    #breadcrumb {
        display: block;
    }
    #communityInc {
        display: block;
    }
    #shortDropDown {
        display: none;
    }
    #longDropDown {
        display: block;
    }
}


@media only screen and (max-width: 992px) {
    #icons {
        display: block;
    }
    ol.breadcrumb {
        display: none;
    }
    #communityInc {
        display: none;
    }
    #shortDropDown {
        display: block;
    }
    #longDropDown {
        display: none;
    }
    #editProfile {
        display: none;
    }
    #myRequests {
        display: none;
    }
}



