header,

main{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    background: white;
}

.wrapper{
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    background: white;
    padding-bottom: 20px;
}


#logo{
    background-image: url("images/Community.png");
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 230px;
    height: 230px;
}

.buttons{
   display: flex;
   align-items: center;
   justify-content: center;
}

.button{
    padding-right: 20px;
    padding-left: 20px;
}

.btnn {
   width:230px;
   height:80px;
}

.list-group{
    margin-top: 50px;
}

/* for list
.btn {
    margin-left: 400px;
}

 */

/* for card */
.btn {
    margin-top: 20px;
}

.row {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}



