*{
    text-decoration: none;
}

#logo{
    background-image: url("images/Community.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
}

.list-group{
    margin-top: 50px;
}

/* for list
.btn {
    margin-left: 400px;
}

 */

/* for card */
.btn {
    margin-top: 20px;
}

.row {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}


.card-img-top{
    margin-top: 10px;
    width:259px ;
    height: 180px;
}






