*{
    text-decoration: none;
}

#logo{
    background-image: url("images/Community.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
}

.list-group{ 
    margin-top: 50px;
}

/* .list-group-item list-group-item-action flex-column align-items-start"> */




.btn {
    margin-left: 1000px;


}






