main{
    margin: 0 auto;
    width: 100%;
}

form{

    margin: 0 auto;
    margin-top: 70px;
    max-width: 570px;
    width: 80%;
    padding-bottom: 20px;
    text-decoration: none;
}

.navBen {
    background: rgb(88,109,215);
    background: radial-gradient(circle, rgba(88,109,215,1) 0%, rgba(207,246,255,0.30033263305322133) 100%);

}
